<div>
  <app-child>
    <h3>Some heading</h3>
    <p #para>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    </p>
    <p #para>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    </p>
    <p #para>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    </p>
    <app-test [name]="'MOHAMED'"></app-test>
    <app-test [name]="'LAMINE'"></app-test>
    <app-test [name]="'DADI'"></app-test>
  </app-child>
</div>
