<div class="ekart-featured-product-item">
 <ng-content select=".title"></ng-content>
  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique non quam et feugiat.
    Curabitur sit amet lorem vitae nunc venenatis mollis elementum eget turpis. In hac habitasse platea
    dictumst. Aenean dictum urna felis, quis aliquet nisi bibendum eu. Phasellus odio nunc, consectetur quis
    molestie quis, luctus sed quam. Sed a tempor massa. Aliquam aliquet porta efficitur.
  </p>
  <ng-content select=".call-to-action"></ng-content>
</div>
